@font-face {
	font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Bold";

    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

body {
	background-color: #f5f6fa;
}

.q-field__label {
	font-family: Roboto-Regular;
}

.q-loading:before {
	background-color: #85B8E9;
}
.layout-menu {
	&-item:hover {
		.icon-menu {
			fill: #4694dd;
		}
	}
	.active {
		.icon-menu {
			fill: #4694dd;
		}
	}
}


.embed-partners-tabel .webix_hcell.webix_ss_filter {
	padding: 5 4px;
  }
